#body {
    display: grid;
    padding: 0;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 8fr 1fr;
    gap: 0;
    flex-direction: column;
    overflow-x: hidden,
}

body {
    min-height: 100dvh;
}