main {
  grid-area: 1 / 1 / 4 / 3;
  align-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  --color: rgba(114, 114, 114, 0.3);
  background-color: var(--background-color-theme);
  background-image:
    linear-gradient(
      0deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    );
  background-size: 55px 55px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 15%;
  padding: 0;
  margin: 6rem 0;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -0.02em;
  text-align: center;
  justify-items: flex-start;
}

.title::after {
  content: '.';
  color: var(--secondary-color-theme);
  font-size: 2.5rem;
  line-height: 0;
}

#graphic {
  border: 1rem black solid;
  fill: none;
  padding: 10%;
}

#mainHeader {
  margin-bottom: 2rem;
  color: var(--secondary-color-theme);
}

#register_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  border-radius: 1rem;
  padding: 2rem;
  background-color: var(--auth-form-color);
}

#register_form > form {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 0.5rem;
}

#register_form > form > input {
  border: 1px solid var(--header-divider-color);
  border-radius: 0.7rem;
  padding: 0.5rem;
  min-width: 20rem;
}

#register {
  margin-top: 1rem;
  display: flex;
  align-self: center;
  justify-content: center;
  padding: 0.5rem;
  border: none;
  color: white;
  border-radius: 0.7rem;
  min-width: 20rem;
  background-color: var(--secondary-color-theme);
  transition: transform 0.3s ease-in-out;
}

#register:hover {
  transform: scale(1.05);
  background-color: white;
  color: var(--secondary-color-theme);
  border: 1px solid var(--secondary-color-theme);
}

#divider {
  margin-top: 1rem;
  background-color: var(--header-divider-color);
  padding: 0.03rem 50%;
}
